.block {
	margin-bottom: 15px;

	h2, img {
		margin-bottom: 5px;
	}

	&:last-child {
		margin-bottom: 70px;
	}

	&--ad {
		height: 150px;
		width: 100%;
		background: #eee;
	}
}

@media (max-width: 768px) {
	.block {
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 50px;
		}
	}
}